@{
    ViewData["Title"] = "Crocheting!";
}


    <h1 class="display-4">CROCHET THE DAY AWAY</h1>
    <p>I learned to crochet summer of 2025. Through the utilization of tools such as grandmothers and youtube, 
        I set off to become apart of the crocheting community. It definitely took me a minute to get used to 
        the craft, but the satisfaction of finishing a project has made it well worth it.</p>



<div class="projects-container">

    <div class="project-card">
        <img src="~/img/apple_headphones.jpg" />
        <p>
            My very first project was a pair of headphone covers in the shape of apples.
            I saw these and decided I MUST have them.
        </p>
    </div>

    <div class="project-card">
        <img src="~/img/first_beanie.jpg" />
        <p>
            My second crochet project was a beanie that I made for my brother.
            Pretty impressive stuff.
        </p>
    </div>

</div>

